# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*.{htaccess,htm,html,js,json,md,php,sh,txt,xml,xsd,xsl,yml}]
charset = UTF-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,php}]
indent_size = 4

[*.{htaccess,sh}]
charset = US-ASCII
