{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "amd": true,
    "shared-node-browser": true
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-trailing-spaces": ["error"],
    "strict": ["error", "function"],
    "indent": ["error", 4]
  }
}
